@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F3F3F3;
    color: #333;
    font: 400 20px "Open Sans", sans-serif;
    overflow: auto;
}

#content{
    width: 1000px;
    max-width: 90%;
    margin: 100px auto;
    position: relative;
    background: rgba(0,0,0,.05);
    background: #FFF;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px #DEDEDE;
}

#lightbox-demo{
    margin: 1em auto;
}

#preview{
    margin: 20px 0;
    background: #EEE;
}

#preview img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.button{
    cursor: pointer;
    text-decoration: none;
    background: #F9F9F9;
    border: 1px solid #C4C4C4;
    line-height: 1;
    color: #000;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

.button:hover{
    background-color: #FFF;
    border-color: #9BA4B5;
}

.button[disabled]{
    opacity: .5;
    cursor: not-allowed;
}

.button-big{
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid #A02C44;
    background: orangered;
    background-image: linear-gradient( to bottom, rgba(0,0,0,.1), rgba(0,0,0,0.3) );
    color: #FFF;
    text-shadow: 1px 1px 0 #A02C44;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.2);
}

.button-big:hover{
    background-color: #F00;
}

.button-cancel{
}

.button-cancel:hover{

}

.button-submit{
    color: #FFF;
    background-color: #418A41;
    border-color: #2B602B;
    font-weight: bold;
}

.button-submit:hover{
    background-color: #3DAA3D;
    border-color: #2B732B;
}

.photo-picker{
    text-align: left;
    background: #EBEBEB;
    border: 1px solid #DDD;
}

.lightbox .photo-picker{
    border: 0;
}

.photo-picker .row{
    padding: 6px;
    line-height: 1;
}

.photo-picker .button-container{
    padding-bottom: 0;
}

.photo-picker .header{
    background-color: #FEFEFE;
    background-image: linear-gradient(to bottom, #FEFEFE, #EEE);
    border-bottom: 1px solid #DDD;
    font-size: 20px;
    color: #474747;
}

.photo-scroll-frame{
    position: relative;
    display: block;
    background: #FFF;
    border: 1px solid #D7D7D7;    
    overflow: auto;
    min-height: 150px;
    max-height: 450px;
}

.photo-frame{
    padding: 6px 0 6px 6px;
    box-sizing: border-box;
}

.photo-container{
}

.photo-container:empty{
}

.photo-container:after{
    content: "";
    clear: both;
    display: block;
}

.photo-container:empty:before{
    content: "Loading photos";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: .85em;
    line-height: 1em;
    margin-top: -.5em;
    font-weight: 300;
    text-align: center;
    animation-duration: 1s;
    animation-name: fade;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.photo-picker .tabs{
    padding-bottom: 0;
}

.photo-picker .actions{
    color: #474747;
    text-align: right;
    padding-top: 0;
}

.photo-picker .divider{
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    line-height: 1;
    margin: 0;
    box-shadow: 1px 0 0 #FFF;
    text-indent: 200%;
    white-space: nowrap;
    hyphens: none;
    overflow:hidden;
}

.photo-picker .photo{
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: calc(25% - 6px);
    height: 150px;
    line-height: 150px;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    text-align: center;
    border: 1px solid #D7D7D7;
    background: #EBEBEB;
    opacity: 1;
    transition: all ease-in-out 150ms;
}

.photo-picker .photo:nth-child(4n){
    margin-right: 0;
}

.photo-picker .photo:nth-last-child(-n+4){
    margin-bottom: 0;
}

.lte8 .photo-picker .photo{
    position: relative;
    z-index: 1;
    width: 23%;
    margin: 0 2% 2% 0;
}

.photo-picker .photo:hover{
    background-color: #C9D7EC;
    border-color: #B1C9EA;
}

.photo-picker .photo.selected:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 6px solid #41619C;
    z-index: 2;
}

.photo-picker .photo img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
}

:not(.lte8) .photo-picker .photo.loading{
    opacity: .25;
}
